
  <form #form="ngForm" (ngSubmit)="Onsubmit()">
      <table>
  <tr>
    <td>Id</td>
    <td><input type="text" name="PersonId" [(ngModel)]="employee.PersonId" ></td>
  </tr>

  <tr>
    <td>Name</td>
    <td><input type="text" name="name" [(ngModel)]="employee.name" ></td>
  
  </tr>
  <tr ngModelGroup="address">

      <td>Address</td>
      <td><input type="text" name="city" [(ngModel)]="employee.address.city" ></td>
      <td><input type="text" name="State" [(ngModel)]="employee.address.State" ></td>
    </tr>

    

  <tr>
    <td>Gender</td>
    <td>  <select name="Gender" [(ngModel)]="employee.Gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select></td>
  </tr>
  <tr>
    <button>Submit</button>
    <button type="button" (click)="reset(form)">Reset</button>
  </tr>
</table>
</form>



<div>
<form [formGroup]="ReactiveForm" >
    
    <table>
<tr>
  <td>Id</td>
  <td><input type="text" formControlName="PersonId" ></td>
</tr>

<tr>
  <td>Name</td>
  <td><input type="text" formControlName="name"  ></td>

</tr>
<tr formGroupName="address">

    <td>Address</td>
    <td><input type="text"  formControlName="city"  ></td>
    <td><input type="text" formControlName="State" ></td>
  </tr>

  

<tr>
  <td>Gender</td>
  <td>  <select  formControlName="Gender">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
  </select></td>
</tr>
<tr>
  <button>Submit</button>
</tr>
</table>
</form></div>